body{
background:#111;
color:white;
font-family:sans-serif;
}

.center{
text-align:center;
margin-top:200px;
}

.btn{
padding:15px 30px;
font-size:18px;
background:#00ff88;
border:none;
border-radius:8px;
}

.navbar{
display:flex;
align-items:center;
gap:10px;
padding:10px;
background:#000;
}

.grid{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:20px;
}

.card{
background:#222;
padding:10px;
border-radius:10px;
}