
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<script>
function like(id){
fetch("/like/"+id,{method:"POST"}).then(()=>location.reload())
}
</script>
</head>

<body>

<div class="grid">

{% for p in posts %}

<div class="card">

{% if p.type=="video" %}
<video controls src="/{{p.file}}"></video>
{% endif %}

{% if p.type=="photo" %}
<img src="/{{p.file}}">
{% endif %}

<button onclick="like({{p.id}})">❤️ Like ({{p.likes}})</button>

</div>

{% endfor %}

</div>

</body>
</html>
